<html>
<head>
    <link href="/style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="content">
    <h1>Game Page</h1>

    <h2 id="gameState">
        {{#if waitingForMorePlayers}}
            Waiting for more players...
        {{/if}}
    </h2>

    <h2 id="gamePhase"></h2>

    <h3>Players</h3>
    <ul id="players">
        {{#each players}}
            <li>{{this}}</li>
        {{/each}}
    </ul>

    <h3>Hand</h3>
    <ul id="hand"></ul>

    <form>
        <label>
            Bet
            <input type="number" name="bet" min="0" max="10">
        </label>
        <button id="placeBet" type="button" onclick="onBetSubmit()">Place Bet</button>
    </form>

    <h3>Players who have bet</h3>
    <ul id="playersWhoHaveBet"></ul>

    <h3>Bets</h3>
    <ul id="bets">
        {{#each players}}
            <li data-playerBet="{{this}}">{{this}}<span></span></li>
        {{/each}}
    </ul>

    <h3>Cards in trick</h3>
    <ul id="trick"></ul>
</div>
<script src="/game.js"></script>
<script>
    window.addEventListener("load", function() {
        connectToWs("{{wsHost}}/{{playerId}}")
    })
</script>
</body>
</html>
