<html>
<head>
    <link href="/style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="content">
    <h1>Game Page - {{playerId}}</h1>

    <h2 id="roundNumber"></h2>
    <h2 id="trickNumber"></h2>

    <h3>Players</h3>
    <ul id="players">
        {{#each players}}
            <li>{{this}}</li>
        {{/each}}
    </ul>

    <section id="trickArea">
        <h3>Cards in trick</h3>
        <ul id="trick"></ul>
    </section>
</div>
<script src="/game.js"></script>
<script>
    window.INITIAL_STATE = {
        waitingForMorePlayers: {{waitingForMorePlayers}},
    }

    window.addEventListener("load", function() {
        const socket = new WebSocket("{{wsHost}}/{{playerId}}");
        socket.addEventListener("message", (event) => {
            console.log(`{{playerId}} received`, event.data);
        })
        connectToWs(socket)
    })
</script>
</body>
</html>
