<html>
<head>
    <link href="/style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="content">
    <h1>Game Page - {{playerId}}</h1>
    <sk-gamestate></sk-gamestate>
    <h2 id="roundNumber"></h2>
    <sk-gamephase></sk-gamephase>
    <h2 id="trickNumber"></h2>
    <h2 id="currentPlayer"></h2>
    <h2 id="trickWinner"></h2>

    <sk-players></sk-players>
    <sk-hand></sk-hand>
    <sk-biddingform></sk-biddingform>
    <sk-bids></sk-bids>
    <sk-trick></sk-trick>
</div>
<script>
    window.INITIAL_STATE = {
        playerId: "{{playerId}}",
        players: {{{playersJson}}},
        waitingForMorePlayers: {{waitingForMorePlayers}},
    };

    let wsProtocol = "ws";
    if (location.protocol === "https:") wsProtocol += "s"

    window.socket = new WebSocket(`${wsProtocol}://{{host}}:${location.port}/{{playerId}}`)
    window.socket.addEventListener("message", (event) => {
        console.log(`{{playerId}} received`, event.data)
    })

    const gameScript = document.createElement('script')
    gameScript.async = false
    gameScript.defer = false
    gameScript.src = '/game.js'
    document.head.appendChild(gameScript)
</script>
</body>
</html>
